name: Auto-fix when '/autofix' Slash Command is used

on:
  workflow_dispatch: {}
  repository_dispatch:
    types: [autofix-command]

env:
  AIRBYTE_ANALYTICS_ID: ${{ vars.AIRBYTE_ANALYTICS_ID }}

jobs:
  python-autofix:
    runs-on: ubuntu-latest
    steps:
    - name: Authenticate as GitHub App
      uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
      id: get-app-token
      with:
        owner: "airbytehq"
        repositories: "PyAirbyte,sonar"
        app-id: ${{ secrets.OCTAVIA_BOT_APP_ID }}
        private-key: ${{ secrets.OCTAVIA_BOT_PRIVATE_KEY }}
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        token: ${{ steps.get-app-token.outputs.token }}
        submodules: recursive
    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: 3.10
    - name: Set up Poetry
      uses: Gr1N/setup-poetry@48b0f77c8c1b1b19cb962f0f00dff7b4be8f81ec # v9
      with:
        poetry-version: "2.2.0"

    - name: Install dependencies
      run: poetry install

    - name: Format code
      run: poetry run ruff format .

    - name: Commit changes
      run: |
        git config --global user.name "Airbyte Automation Bot"
        git config --global user.email "no-reply@airbyte.io"
        git add .
        git diff-index --quiet HEAD || git commit -m "Format code with black"

    - name: Push changes
      uses: ad-m/github-push-action@77c5b412c50b723d2a4fbc6d71fb5723bcd439aa # v1.0.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
