name: On-Demand Poe Task

on:
  workflow_dispatch:
    inputs:
      comment-id:
        description: "Optional comment-id of the slash command. Ignore if not applicable."
        required: false
      pr:
        description: "PR Number"
        required: false

permissions:
  contents: write
  pull-requests: write

jobs:
  run-poe-command:
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate as GitHub App
        uses: actions/create-github-app-token@v2
        id: get-app-token
        with:
          owner: "airbytehq"
          repositories: "PyAirbyte"
          app-id: ${{ secrets.OCTAVIA_BOT_APP_ID }}
          private-key: ${{ secrets.OCTAVIA_BOT_PRIVATE_KEY }}

      - name: Run Poe Slash Command Processor
        uses: aaronsteers/poe-command-processor@v1.3.3
        with:
          pr: ${{ github.event.inputs.pr }}
          comment-id: ${{ github.event.inputs.comment-id }}
          github-token: ${{ steps.get-app-token.outputs.token }}
