name: Generate Docs

on:
  push:
    branches:
    - main
  pull_request: {}

env:
  AIRBYTE_ANALYTICS_ID: ${{ vars.AIRBYTE_ANALYTICS_ID }}

jobs:
  preview_docs:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Install uv
      uses: astral-sh/setup-uv@f06b870e0a91d23284a3013acc55e6f88ab4b904 # v7
      with:
        version: "latest"
        python-version: '3.10'

    - name: Install dev dependencies
      # We only need helper libraries
      run: uv sync --group dev

    - name: Generate documentation
      run: |
        uv run poe docs-generate

    - name: Upload artifact
      uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
      with:
        # Upload entire repository
        path: 'docs/generated'
