name: Run Linters

on:
    push:
      branches:
      - main
    pull_request: {}

env:
  AIRBYTE_ANALYTICS_ID: ${{ vars.AIRBYTE_ANALYTICS_ID }}

jobs:
  ruff-lint-check:
    name: Ruff Lint Check
    runs-on: ubuntu-latest
    steps:
    # Common steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Set up Poetry
      uses: Gr1N/setup-poetry@v9
      with:
        poetry-version: "2.0.1"
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Set up Poetry
      uses: Gr1N/setup-poetry@v9
      with:
        poetry-version: "2.0.1"
    - name: Install dependencies
      run: poetry install

    # Job-specifc step(s):
    - name: Format code
      run: poetry run ruff check .

  ruff-format-check:
    name: Ruff Format Check
    runs-on: ubuntu-latest
    steps:
    # Common steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Set up Poetry
      uses: Gr1N/setup-poetry@v9
      with:
        poetry-version: "2.0.1"
    - name: Install dependencies
      run: poetry install

    # Job-specifc step(s):
    - name: Check code format
      run: poetry run ruff format --check .

  mypy-check:
    name: MyPy Check
    runs-on: ubuntu-latest
    steps:
    # Common steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Set up Poetry
      uses: Gr1N/setup-poetry@v9
      with:
        poetry-version: "2.0.1"
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Set up Poetry
      uses: Gr1N/setup-poetry@v9
      with:
        poetry-version: "2.0.1"
    - name: Install dependencies
      run: poetry install

    # Job-specifc step(s):
    - name: Check MyPy typing
      run: poetry run mypy .
