name: Run Linters

on:
    push:
      branches:
      - main
    pull_request: {}

env:
  AIRBYTE_ANALYTICS_ID: ${{ vars.AIRBYTE_ANALYTICS_ID }}

permissions:
  contents: read
jobs:
  ruff-lint-check:
    name: Ruff Lint Check
    runs-on: ubuntu-latest
    steps:
    # Common steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "latest"
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    - name: Install dev dependencies
      # We only need helper libraries
      run: uv sync --group dev

    # Job-specifc step(s):
    - name: Format code
      run: uv run ruff check .

  ruff-format-check:
    name: Ruff Format Check
    runs-on: ubuntu-latest
    steps:
    # Common steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "latest"
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    - name: Install dev dependencies
      # We only need helper libraries
      run: uv sync --group dev

    # Job-specifc step(s):
    - name: Check code format
      run: uv run ruff format --diff .

  python-type-checks:
    name: Python Type Checks
    runs-on: ubuntu-latest
    steps:
    # Common steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "latest"
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    - name: Install dev dependencies
      # We only need helper libraries
      run: uv sync --group dev

    # Job-specifc step(s):
    - name: Run Pyrefly Check
      run: uv run pyrefly check
