name: Run Linters

on:
    push:
      branches:
      - main
    pull_request: {}

env:
  AIRBYTE_ANALYTICS_ID: ${{ vars.AIRBYTE_ANALYTICS_ID }}

permissions:
  contents: read
jobs:
  ruff-lint-check:
    name: Ruff Lint Check
    runs-on: ubuntu-latest
    steps:
    # Common steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Install uv
      uses: astral-sh/setup-uv@f06b870e0a91d23284a3013acc55e6f88ab4b904 # v7
      with:
        version: "latest"
        python-version: '3.10'
    - name: Install dev dependencies
      # We only need helper libraries
      run: uv sync --group dev

    # Job-specifc step(s):
    - name: Lint code
      run: uv run ruff check .

  ruff-format-check:
    name: Ruff Format Check
    runs-on: ubuntu-latest
    steps:
    # Common steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Install uv
      uses: astral-sh/setup-uv@f06b870e0a91d23284a3013acc55e6f88ab4b904 # v7
      with:
        version: "latest"
        python-version: '3.10'
    - name: Install dev dependencies
      # We only need helper libraries
      run: uv sync --group dev

    # Job-specifc step(s):
    - name: Check code format
      run: uv run ruff format --diff .

  python-type-checks:
    name: Python Type Checks
    runs-on: ubuntu-latest
    steps:
    # Common steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Install uv
      uses: astral-sh/setup-uv@f06b870e0a91d23284a3013acc55e6f88ab4b904 # v7
      with:
        version: "latest"
        python-version: '3.10'
    - name: Install dev dependencies
      # We only need helper libraries
      run: uv sync --group dev

    # Job-specifc step(s):
    - name: Run Pyrefly Check
      run: uv run pyrefly check
