name: Release Drafter

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

concurrency:
  group: release-drafter
  cancel-in-progress: false

jobs:
  draft_release:
    name: Draft Release
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build package
        run: uv build

      - name: Create or update draft release
        uses: aaronsteers/semantic-pr-release-drafter@v0.4.0
        id: release-drafter
        with:
          attach-files: |
            dist/*.whl
            dist/*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
