name: Release Drafter

on:
  push:
    branches:
      - main

concurrency:
  group: release-drafter
  cancel-in-progress: false

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: aaronsteers/semantic-pr-release-drafter@v0.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
